*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solidt transparent;
    border-top: 4px solid #24ecff;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.container .ring::before{
    content: '';
    position: absolute;
    top: 52px;
    right: -9px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0  20px #93ff2d,
    0 0  50px #93ff2d;
    animation: animate 4s linear infinite;
}

.container .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 52px;
    right: -9px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #93ff2d33,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0  20px #93ff2d,
    0 0  50px #93ff2d;
}
@keyframes animate2{
    0%
    {
        transform: rotate(deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.container .ring:nth-child(3){
    position: absolute;
    top: -66.66px;
}
.container p{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: -80px;
    letter-spacing: 0.15em;
}